@using WebApplication2.Models;
@model Teacher
<section class="banner-area">
    <div class="banner-area-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Teachers / Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="teacher-details">
    <div class="teacher-details-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="teacher-details-img">
                        <img src="~/assets/images/@Model.FilePath" alt="teacher" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="teacher-details-content">
                        <h2>@Model.FullName</h2>
                        <h5>Associate Professor</h5>
                        <h4>about me</h4>
                        <p>@Model.TeacherAbout </p>
                        <ul>
                            <li><span>degree: </span>@Model.ScientificDegree</li>
                            <li><span>experience: </span>@Model.Experience</li>
                            <li>
                                <span>hobbies: </span>@Model.Hobbies
                            </li>
                            <li>
                                <span>faculty: </span>@Model.Faculty
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="teacher-contact">
                        <h4>contact information</h4>
                        <p><span>mail me : </span>@Model?.ContactInformation?.Email</p>
                        <p><span>make a call : </span>@Model?.ContactInformation?.Number</p>
                        <p><span>skype : </span>@Model?.ContactInformation?.Skype</p>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/devitemsllc/">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/devitemsllc">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="skill-area">
                        <h4>skills</h4>
                    </div>
                    <div class="skill-wrapper">
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>language</span>
                                <div class="progress">
                                    <div style="width: 85%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">@Model?.Skills?.Language%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>team leader</span>
                                <div class="progress">
                                    <div style="width: 90%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">@Model?.Skills?.TeamLeader%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>development</span>
                                <div class="progress">
                                    <div style="width: 85%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">@Model?.Skills?.Development%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>design</span>
                                <div class="progress">
                                    <div style="width: 95%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">@Model?.Skills?.Design%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>innovation</span>
                                <div class="progress">
                                    <div style="width: 85%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">@Model?.Skills?.Innovation%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>communication</span>
                                <div class="progress">
                                    <div style="width: 95%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">@Model?.Skills?.Communication%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>