@using WebApplication2.Models;
@model List<Teacher>
<div class="card">
    <div class="card-body">
        <div class="d-flex; justify-content-lg-between">
            <h5 class="card-title">Teachers</h5>
            <a asp-action="create" asp-controller="teacher" asp-area="admin" class="col-2 d-sm-inline-block btn btn-outline-success"> Add new Teacher</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Degree</th>
                        <th scope="col">Faculty</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Hobbies</th>
                        <th scope="col">About</th>
                       @* <th scope="col">Link</th>*@

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var teacher in Model)
                        {
                            <tr>
                                <th>@teacher.Id</th>
                                <td>@teacher.FullName</td>
                                <td><img style="width:100px;" src="~/assets/img/@teacher.FilePath"></td>
                                <td>@teacher.ScientificDegree</td>
                                <td>@teacher.Faculty</td>
                                <td>@teacher.Experience</td>
                                <td>@teacher.Hobbies</td>
                                <td>@teacher.TeacherAbout</td>
                                <td>@teacher.TeacherLinks</td>
                                <th>
                                    <a asp-controller="teacher" asp-action="update" asp-area="admin" asp-route-id="@teacher.Id" class="btn btn-secondary">Update</a>
                                    <form class="d-inline" method="post" asp-controller="teacher" asp-action="delete" asp-area="admin" asp-route-id="@teacher.Id">
                                        <button class="btn btn-secondary" type="submit">Delete</button>
                                    </form>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

