@using WebApplication2.ViewModels.Blogs

@model BlogIndexVM
<section class="banner-area">
    <div class="banner-area-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Blog Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="blogs-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blogs-details">
                    <div class="blog-detail-img">
                        <img src="~/assets/images/blog-details-leftpart.webp" alt="" />
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Blogs.Title </h2>
                        <span>@Model.Blogs.Author / @Model.Blogs.Date.ToString("dd MMM yyyy") / </span>
                        <i class="fa-regular fa-comments"></i>
                        <span>4</span>
                        <p>
                            @Model.Blogs.Description
                        </p>
                        <p>
                            @Model.Blogs.Description
                        </p>
                        <p class="blog-details-content-different-p">
                            @Model.Blogs.Description
                        </p>
                        <p>
                            @Model.Blogs.Description
                        </p>
                    </div>
                </div>

                <div class="blogs-reply-area">
                    <div class="all-replies">
                        <h2>recent reviews</h2>
                        <div class="showing-replies">
                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="single-reply">
                                <h4>Soltan Mustafali</h4>
                                <h6>blog Fee</h6>
                                <p>
                                    When taking into account the price and the number of
                                    students, I can say that the efficiency rate of the blog
                                    is doubtful for me. I consider that despite the
                                    participation of many students as helpful in developing
                                    speaking and communication skills, it will be hard to
                                    concentrate on lessons in the class.
                                </p>
                                <div class="reply-button-area">
                                    <button type="button" class="delete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="reply-pagination">
                            <ul class="reply-pagination-ul">
                                <li>
                                    <a href=""><i class="fa-solid fa-chevron-left"></i></a>
                                </li>
                                <li class="selected-page"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li>
                                    <a href=""><i class="fa-solid fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3>leave a reply</h3>
                    <p>
                        I must explain to you how all this a mistaken idea of ncing
                        great explorer of the rut
                        <br />
                        the is lder of human happinescias unde omnis iste natus error
                        sit volptatem
                    </p>
                    <form method="post" asp-action="create" asp-controller="blogcomment">
                        <div class="row">
                            <div class="col-md-12">
                                <p>name</p>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="col-md-12">
                                <p>Email</p>
                                <input type="text" name="" id="" />
                            </div>
                            <div class="col-md-12">
                                <p>subject</p>
                                <input type="text" name="" id="" />
                                <p>message</p>
                                <textarea name="" id="" cols="15" rows="10"></textarea>
                            </div>
                        </div>
                        <a href="" class="blogs-reply-button">send message</a>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blogs-detail-sidebar">
                    <div class="blogs-detail-search">
                        <h3>search</h3>
                        <div class="blogs-search">
                            <form action="" id="blogs-detail-search">
                                <input type="search"
                                       name=""
                                       id=""
                                       placeholder="Search..." />
                                <button type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="blogs-detail-categories">
                        <h3>categories</h3>
                        <ul class="categories-ul">
                            @if (Model.Categories is not null)
                            {
                                @foreach (var item in Model.Categories)
                                {
                                    <li><a asp-action="Index" asp-controller="Course" asp-route-id="@item.Id">@item.Title</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="blogs-detail-side-banner">
                        <div class="blogs-side-single-banner">
                            <a href="blogdetail.html">
                                <img src="~/assets/images/blog-details-right.webp" alt="" />
                            </a>
                            <h2>best<br />education<br />theme</h2>
                        </div>
                    </div>
                    <div class="blog-detail-latest-post">
                        <h3>latest post</h3>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/blog-details-right-small-1.webp"
                                     alt="" />
                                <div class="blogs-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">English Language blog for you</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/blog-details-right-small-2.webp"
                                     alt="" />
                                <div class="blogs-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">Advance Web Design and Develop</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/blog-details-right-small-3.webp"
                                     alt="" />
                                <div class="blogs-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">English Language blog for you</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="blogs-details-tags">
                        <h3>tags</h3>
                        <div class="blogs-single-tag">
                            @foreach (var item in Model.Tags)
                            {

                                <a asp-action="index" asp-controller="@item.Name.Substring(0, item.Name.Length - 1)" class="mr-10 mb-10">@item.Name</a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

