@using WebApplication2.Models
@model List<Speaker>
@{
    int count = 1;
}
<div class="card">
    <div class="card-body">
        <div class="d-flex; justify-content-lg-between">
            <h5 class="card-title">Speakers</h5>
            <a asp-action="Create" asp-controller="Speaker" asp-area="admin" class="col-2 d-sm-inline-block btn btn-outline-success">Add new Speaker</a>
        </div>
        @{
            if(Model != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">N#</th>
                                <th scope="col">Photo</th>
                                <th scope="col">FullName</th>
                                <th scope="col">WorkPlace</th>
                                <th scope="col">Profession</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var speaker in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td><img style="width:100px" src="~/assets/images/@speaker.FilePath"></td>
                                    <td>@speaker.FullName</td>
                                    <td>@speaker.WorkPlace</td>
                                    <td>@speaker.Profession</td>
                                    <td>
                                        <a asp-controller="Speaker" asp-action="Update" asp-area="admin" asp-route-id="@speaker.Id" class="btn btn-secondary">Update</a>
                                        <form class="d-inline" method="post" asp-controller="Speaker" asp-action="Delete" asp-area="admin" asp-route-id="@speaker.Id">
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</div>

