@using WebApplication2.ViewModels.Course
@model CourseVM
<section class="banner">
    <div class="banner-area">
        <div class="banner-area-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Course Details</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="courses-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="courses-details">
                    <div class="course-detail-img">
                        <img src="~/assets/images/@Model.Course.FilePath" alt="" />
                    </div>
                    <div class="courses-details-content">
                        <h2>@Model.Course.CoursName</h2>
                        <p>@Model.Course.Description</p>
                        <div class="mid-content">
                            <div class="mid-content-left">
                                <div class="single-course-detail-left">
                                    <h3>ABOUT COURSE</h3>
                                    <p>@Model.Course.CoursAbout</p>
                                </div>
                                <div class="single-course-detail-left">
                                    <h3>HOW TO APPLY</h3>
                                    <p>@Model.Course.CoursApply</p>
                                </div>
                                <div class="single-course-detail-left">
                                    <h3>CERTIFICATION</h3>
                                    <p class="p-with-margin">@Model.Course.Certification </p>
                                </div>
                            </div>
                            <div class="mid-content-right">
                                <h3>course fetaures</h3>
                                <ul class="mid-content-ul">
                                    <li>starts <span>@Model.Course.CoursFeature.Starts.ToString("dd MMM, yyyy")</span></li>
                                    <li>duration <span>@Model.Course.CoursFeature.Duration</span></li>
                                    <li>class duration <span>@Model.Course.CoursFeature.ClassDuration</span></li>
                                    <li>skill level <span>@Model.Course.CoursFeature.SkillLevel</span></li>
                                    <li>language <span>@Model.Course.CoursFeature.Language</span></li>
                                    <li>students <span>@Model.Course.CoursFeature.StudentsCount</span></li>
                                    <li>assesments <span>@Model.Course.CoursFeature.Assesments</span></li>
                                </ul>
                                <h3 class="red-h3">COURSE FEE $ @Model.Course.CoursFeature.CourseFee</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses-reply-area">
                    <div class="all-replies">
                        <h2>recent reviews</h2>
                        <div class="showing-replies">
                            @* if(Model.Course.CourseComment is not null) *@
                            @{
                                foreach(var item in Model.Course.CourseComment)
                                {
                                    <div class="single-reply">
                                        <h4>@item.Name</h4>
                                        <p>@item.MessageInfo</p>
                                        <div class="reply-button-area">
                                            <button type="button" class="delete">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
@* 
                        <div class="reply-pagination">
                            <ul class="reply-pagination-ul">
                                <li>
                                    <a href=""><i class="fa-solid fa-chevron-left"></i></a>
                                </li>
                                <li class="selected-page"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li>
                                    <a href=""><i class="fa-solid fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div> *@
                    </div>
                    <h3>leave a reply</h3>
                    <p>
                        I must explain to you how all this a mistaken idea of ncing
                        great explorer of the rut
                        <br />
                        the is lder of human happinescias unde omnis iste natus error
                        sit volptatem
                    </p>
                    <form asp-controller="Course" asp-action="Details" asp-route-id="@Model.Course.Id" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <p>name</p>
                                <input asp-for="Comment.Name" type="text"/>
                            </div>
                            <div class="col-md-12">
                                <p>Email</p>
                                <input asp-for="Comment.Email" type="text"/>
                            </div>
                            <div class="col-md-12">
                                <p>subject</p>
                                <input asp-for="Comment.Subject" type="text"/>
                                <p>message</p>
                                <textarea asp-for="Comment.MessageInfo" cols="15" rows="10"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="courses-reply-button">send message</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="courses-detail-sidebar">
                    <div class="courses-detail-search">
                        <h3>search</h3>
                        <div class="courses-search">
                            <form action="" id="courses-detail-search">
                                <input type="search"
                                       name=""
                                       id=""
                                       placeholder="Search..." />
                                <button type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="courses-detail-categories">
                        <h3>categories</h3>
                        <ul class="categories-ul">
                            <li><a href="">CSS Engineering (10)</a></li>
                            <li><a href="">Political Science (12)</a></li>
                            <li><a href="">Micro Biology (08)</a></li>
                            <li><a href="">HTML5 & CSS3 (15)</a></li>
                            <li><a href="">Web Design (20)</a></li>
                            <li><a href="">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="courses-detail-side-banner">
                        <div class="courses-side-single-banner">
                            <a href="coursedetail.html">
                                <img src="~/assets/images/blog-img.webp" alt="" />
                            </a>
                            <h2>best<br />education<br />theme</h2>
                        </div>
                    </div>
                    <div class="course-detail-latest-post">
                        <h3>latest post</h3>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/post1.webp" alt="" />
                                <div class="courses-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">English Language Course for you</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/post2.webp" alt="" />
                                <div class="courses-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">Advance Web Design and Develop</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/post3.webp" alt="" />
                                <div class="courses-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">English Language Course for you</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="courses-details-tags">
                        <h3>tags</h3>
                        <div class="courses-single-tag">
                            <a href="" class="mr-10 mb-10">courses</a>
                            <a href="" class="mr-10 mb-10">education</a>
                            <a href="" class="mr-10 mb-10">tachers</a>
                            <a href="" class="mr-10">learning</a>
                            <a href="" class="mr-10">university</a>
                            <a href="">events</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>