@using WebApplication2.Models;
@model Course
<section class="banner">
    <div class="banner-area">
        <div class="banner-area-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Course Details</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="courses-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="courses-details">
                    <div class="course-detail-img">
                        <img src="~/assets/images/@Model.FilePath" alt="" />
                    </div>
                    <div class="courses-details-content">
                        <h2>@Model.CoursName</h2>
                        <p>
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human
                            happiness pcias unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                            quia voluptas sit asnatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui
                        </p>
                        <div class="mid-content">
                            <div class="mid-content-left">
                                <div class="single-course-detail-left">
                                    <h3>ABOUT COURSE</h3>
                                    <p>@Model.CoursAbout</p>
                                </div>
                                <div class="single-course-detail-left">
                                    <h3>HOW TO APPLY</h3>
                                    <p>@Model.CoursApply </p>
                                </div>
                                <div class="single-course-detail-left">
                                    <h3>CERTIFICATION</h3>
                                    <p class="p-with-margin"> </p>
                                    <p>
                                        I must explain to you how all this a mistaken idea of
                                        ncing great explorer of the rut the is lder of human
                                    </p>
                                </div>
                            </div>
                            <div class="mid-content-right">
                                <h3>course fetaures</h3>
                                <ul class="mid-content-ul">
                                    <li>starts <span>@Model.CoursFeature.Starts.ToString("dd MMM yyyy")</span></li>
                                    <li>duration <span>@Model.CoursFeature.Duration</span></li>
                                    <li>class duration <span>@Model.CoursFeature.ClassDuration</span></li>
                                    <li>skill level <span>@Model.CoursFeature.SkillLevel</span></li>
                                    <li>language <span>@Model.CoursFeature.Language</span></li>
                                    <li>students <span>@Model.CoursFeature.StudentsCount</span></li>
                                    <li>assesments <span>@Model.CoursFeature.Assesments</span></li>
                                </ul>
                                <h3 class="red-h3">COURSE FEE $@Model.CoursFeature.CourseFee</h3>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-4">
                <div class="courses-detail-sidebar">
                    <div class="courses-detail-search">
                        <h3>search</h3>
                        <div class="courses-search">
                            <form action="" id="courses-detail-search">
                                <input type="search"
                                       name=""
                                       id=""
                                       placeholder="Search..." />
                                <button type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="courses-detail-categories">
                        <h3>categories</h3>
                        <ul class="categories-ul">
                            <li><a href="">CSS Engineering (10)</a></li>
                            <li><a href="">Political Science (12)</a></li>
                            <li><a href="">Micro Biology (08)</a></li>
                            <li><a href="">HTML5 & CSS3 (15)</a></li>
                            <li><a href="">Web Design (20)</a></li>
                            <li><a href="">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="courses-detail-side-banner">
                        <div class="courses-side-single-banner">
                            <a href="coursedetail.html">
                                <img src="~/assets/images/blog-img.webp" alt="" />
                            </a>
                            <h2>best<br />education<br />theme</h2>
                        </div>
                    </div>
                    <div class="course-detail-latest-post">
                        <h3>latest post</h3>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/post1.webp" alt="" />
                                <div class="courses-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">English Language Course for you</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/post2.webp" alt="" />
                                <div class="courses-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">Advance Web Design and Develop</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <a href="" class="little-image-a">
                                <img src="~/assets/images/post3.webp" alt="" />
                                <div class="courses-detail-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                            <div class="single-post-content">
                                <h4>
                                    <a href="">English Language Course for you</a>
                                </h4>
                                <p>By Alex / June 20, 2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="courses-details-tags">
                        <h3>tags</h3>
                        <div class="courses-single-tag">
                            <a asp-action="index" asp-controller="course" class="mr-10 mb-10">courses</a>
                            <a href="" class="mr-10 mb-10">education</a>
                            <a asp-action="index" asp-controller="teacher" class="mr-10 mb-10">tachers</a>
                            <a href="" class="mr-10">learning</a>
                            <a href="" class="mr-10">university</a>
                            <a asp-action="index" asp-controller="events">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>