@using WebApplication2.Models;
@using WebApplication2.ViewModels.Course
@model List<Course>
<section class="banner">
    <div class="banner-area">
        <div class="banner-area-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Courses</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="courses-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="courses-title">
                    <h3>Search courses</h3>
                </div>
                <div class="course-form">
                    <form asp-action="index" id="course-search">
                        <div class="input-div">
                            <input id="searchinp" name="sortOrder" type="text"
                                   placeholder="Search..."
                                   class="course-search-input" />
                            <a asp-action="Index" asp-controller="Course" id="clear-btn" class="course-clear-btn">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </div>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="courses" class="row">
            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-action="details" asp-controller="course" asp-route-id="@item.Id" class="image-a">
                                <img src="~/assets/images/@item.FilePath" alt="" />
                                <div class="course-hover">
                                    <i class="fa-solid fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-action="details" asp-controller="course" asp-route-id="@item.Id">@item.CoursName</a></h3>
                            <p>@item.CoursApply </p>
                            <a asp-action="details" asp-controller="course" asp-route-id="@item.Id" class="read-more-btn">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-center">
            <a id="loadmorecourse" style="background-color:#ec1c23" class="btn btn-primary">Load More...</a>
        </div>
    </div>
</div>
@* <script>
    $(function () {
        $("#basic-text1").click(function () {
            $("Form").submit();
        })
    })
</script> *@
<script type="text/javascript">

    document.querySelector("#course-search").addEventListener("submit", function (e) {
        e.preventDefault();
        const jsonData = { title: document.querySelector("#searchinp").value };
        
        const options = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json' 
            },
            body: JSON.stringify(jsonData)
        };

        fetch('Course/FilterByTitle', options)
            .then(response => {
                // Check if the request was successful
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Parse the response as JSON
                return response.text();
            })
            .then(data => {
                // Handle the JSON data
                //partial view nu innerhtmle menimsetme
                document.querySelector("#courses").innerHTML = data
            })
            .catch(error => {
                // Handle any errors that occurred during the fetch
                console.error('Fetch error:', error);
            });
    })
    
</script>